VITE_API_BASE_URL=https://ngs-net.doubleugames.com:24080
VITE_SUPR_API_BASE_URL=https://api-staging.nyspins.com
VITE_SOCKET_URL=https://ngs-net.doubleugames.com:26080/multi/socket.io
VITE_STOMP_URL=wss://ngs-net.doubleugames.com:24080/ws
