VITE_API_BASE_URL=https://signature-ringtone-indicate-deaf.trycloudflare.com
VITE_SUPR_API_BASE_URL=https://api-staging.nyspins.com
VITE_SOCKET_URL=https://signature-ringtone-indicate-deaf.trycloudflare.com/multi/socket.io
VITE_STOMP_URL=wss://signature-ringtone-indicate-deaf.trycloudflare.com/ws
